# Jupyter notebook
ipykernel

# CV
scikit-image

# COCO
git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI

# FastAPI
fastapi
uvicorn
python-multipart
orjson

# Label Studio
label-studio-converter